#layout {
    padding-left: 150px; /* left col width "#menu" */
    left: 0;
    margin: 15px;
}
#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    background: #272;
    top: 0;
    left: 150px;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    overflow-y: auto;
    -webkit-overflow-scroll: touch;
}
#menu a {
    color: #EEE;
    border: none;
    white-space: normal;
    padding: 0.6em 0 0.6em 0.6em;
}
.pure-menu li a:hover{
    background: #040;
}
#menu .pure-menu-open {
    background: transparent;
    border: 0;
}
dt {
    font-weight: bold;
}